<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ error_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <main>
        <h1>{{ error_title }}</h1>
        <section class="result invalid">
            <p>{{ error_message }}</p>
        </section>
        <p><a href="/">Retry</a></p>
        <footer>Alexander F. Rødseth &lt;alerod@redpill-linpro.com&gt; for Redpill-Linpro, BSD-3 licensed</footer>
    </main>
</body>
</html>
